.intro-view {
  margin-top: 86px;

  >header {
    display       : flex;
    flex-direction: column;
    text-align    : center;

    >p.caption {
      font-size    : 15px;
      margin-bottom: 12px;
    }

    >h1 {
      font-size: 72px;

      @container (width <=@phone-width) {
        font-size: 48px;
      }
    }

    >p.description {
      margin-top: 22px;
    }

    >.buttons {
      display        : flex;
      justify-content: center;
      margin-top     : 34px;
    }
  }

  >.nft-preview {
    max-width     : 725px;
    margin        : 80px auto 0;
    display       : flex;
    flex-direction: column;
    gap           : 54px;

    >.nft-viewer-container {
      position: relative;

      >.nft-viewer {
        width: 100%;

        >.game-screen>canvas,
        >.loading-spinner {
          border-radius: 8px;
        }
      }

      >.data>h2 {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        padding : 18px;

        font-size: 13.5px;
        flex-grow: 1;
      }

      >.data>p {
        position: absolute;
        bottom  : 0;
        left    : 0;
        width   : 100%;
        padding : 18px;
      }
    }

    >.buttons {
      display        : flex;
      align-items    : center;
      justify-content: center;
      gap            : 22px;

      @container (width <=@phone-width) {
        flex-direction: column;
      }
    }
  }

  >main {
    margin-top: 108px;
  }
}